<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lsinf1225.mini_poll">

    <application
        android:name="lsinf1225.mini_poll.MiniPollApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="lsinf1225.mini_poll.activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="lsinf1225.mini_poll.activity.CreationCompteActivity"
            android:label="@string/newAccount_title" />
        <activity
            android:name="lsinf1225.mini_poll.activity.CreationProfilActivity"
            android:label="@string/create_title" />
        <activity
            android:name="lsinf1225.mini_poll.activity.MainActivity"
            android:label="@string/main_activity_title" />
        <activity
            android:name="lsinf1225.mini_poll.activity.ConsulterProfilActivity"
            android:label="@string/my_profile_title" />
        <activity
            android:name="lsinf1225.mini_poll.activity.CreationActivity"
            android:label="@string/create_main_title" />
        <activity
            android:name="lsinf1225.mini_poll.activity.CreationAideActivity"
            android:label="@string/create_main_help" />
        <activity
            android:name="lsinf1225.mini_poll.activity.ShowListActivity"
            android:label="@string/friends_list" />

        <activity
            android:name="lsinf1225.mini_poll.activity.ShowListSondageActivity"
            android:label="@string/surveys_manage_title" />

        <activity
            android:name="lsinf1225.mini_poll.activity.ShowSondageActivity"
            android:label="@string/poll_answer_title" />
        <activity
            android:name="lsinf1225.mini_poll.activity.ShowResultSondageActivity"
            android:label="@string/poll_results_title" />

    </application>

</manifest>